body {
  background: rgba(0, 0, 0, 1);
  color: #fff;
  margin: auto 2em auto 2em;
}

h1 {
  font-size: 3.5em;
}

a {
  font-size: 2.5em;
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 80%;
}

.card {
  display: flex;
  flex-wrap: wrap;
}
